{% extends 'base.html' %}
{% load i18n %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">{% trans "Profile" %}</h1>
    <div class="card mt-3">
        <div class="card-header">
            {% trans "User Information" %}
        </div>
        <div class="card-body">
            <p><strong>{% trans "Username" %}:</strong> {{ user.username }}</p>
            <p><strong>{% trans "Email" %}:</strong> {{ email }}</p>
            {% if is_verified %}
                <p><strong>{% trans "Email Status" %}:</strong> Verified</p>
            {% else %}
                <p><strong>{% trans "Email Status" %}:</strong> Not Verified</p>
                <form method="post" action="{% url 'account_email_verification_sent' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">{% trans "Resend Verification Email" %}</button>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="mt-4">
        <a href="{% url 'account_change_password' %}" class="btn btn-warning">{% trans "Change Password" %}</a>
        <a href="{% url 'account_logout' %}" class="btn btn-danger">{% trans "Logout" %}</a>
        <a href="{% url 'delete_account' %}" class="btn btn-danger">{% trans "Delete My Account" %}</a>
    </div>
</div>
{% endblock %}
