{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Edit{% else %}Create{% endif %} Authorization{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">{% if form.instance.pk %}Edit{% else %}Create{% endif %} Authorization for {{ chargepoint.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if form.instance.pk %}Update{% else %}Create{% endif %}</button>
        <a href="{% url 'authorization_list' chargepoint.pk %}" class="btn btn-secondary">Back to Authorizations</a>
    </form>
</div>
{% endblock %}
